<mat-toolbar color="primary">
  <span>Ice Cream</span>
  <ng-container *ngIf="auth.currentUser$ | async as user">
    <button mat-raised-button (click)="logout()">
      Wyloguj
    </button>
  </ng-container>
</mat-toolbar>

<ng-container *ngIf="userRole$ | async as role">
  <div *ngIf="userEmail$ | async as user" class="header">
  <h2>Witaj {{user}} :)</h2>
  </div>
  <div *ngIf="role === 'admin'" class="main_menu">
    <button mat-raised-button color="primary" routerLink="admin/ice-creams">
      Lista lodów
    </button>
    <button mat-raised-button color="primary" routerLink="admin/units">
      Lista jednostek
    </button>
    <button mat-raised-button color="primary" routerLink="admin/users">
      Lista użytkowników
    </button>
    <button mat-raised-button color="primary" routerLink="admin/orders">
      Lista zamówień
    </button>
    <button mat-raised-button color="primary" routerLink="admin/create-user">
      Stworz użytkownika
    </button>
   </div>

  <div *ngIf="role === 'user'" class="main_menu">
    <button mat-raised-button color="primary" routerLink="home/ice-cream-list">
      Lista lodow
    </button>
    <button mat-raised-button color="primary" routerLink="home/fav-list">
      Ulubione lody
    </button>
    <button mat-raised-button color="primary" routerLink="home/order">
      Zamow lody
    </button>
    <button mat-raised-button color="primary" routerLink="home/order-list">
      Wyswietl zamowienie
    </button>
  </div>

</ng-container>

<router-outlet></router-outlet>


<!-- <ng-container *ngIf="userRole$ | async as userRole">
  test: {{userRole}}
  <div *ngIf="userRole === 'admin'; else userDashboard">
  <app-admin></app-admin>
  </div>
</ng-container>

<ng-template #userDashboard>
  user dashboard
  <h3 *ngIf="user$ | async as user">Hej {{user.email}}</h3>
</ng-template>

<button (click)="moveToAdmin()">Move</button>

<button mat-raised-button color="primary" routerLink="ice-cream-list">
  Lista lodow
</button>
<button mat-raised-button color="primary" routerLink="fav-list">
  Ulubione lody
</button>
<button mat-raised-button color="primary" routerLink="order">
  Zamow lody
</button>
<button mat-raised-button color="primary" routerLink="order-list">
  Wyswietl zamowienie
</button> -->

