<div class="form-container mat-elevation-z5">
  <div class="form-header">
    <img
    class="form-header__img"
      src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Blackpink_Ice_Cream_-_logo.png"
      alt="Envelo" />
  </div>
  <form [formGroup]="loginForm" class="form" (ngSubmit)="submit()">
    <div class="email-label">
      <mat-form-field class="example-full-width" >
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" (focus)="onFocus()" />
        <mat-error *ngIf="email?.errors?.['required']">
          Wprowadź email
        </mat-error>
        <mat-error *ngIf="email?.errors?.['email']">
          Wprowadz poprawnie adres email
        </mat-error>
      </mat-form-field>
    </div>
    <div class="password-label">
    <mat-form-field class="example-full-width">
      <mat-label>Haslo</mat-label>
      <input matInput type="password" formControlName="password" (focus)="onFocus()" />
      <mat-error *ngIf="password?.errors?.['required']">
        Wprowadź hasło
      </mat-error>
    </mat-form-field>
    </div>
    <div class="btn-label">
      <button mat-raised-button color="primary" type="submit" [disabled]="toggleButton">Login</button>
    </div>
  </form>
</div>
