:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 16px;
  padding: 35px;
}

.form-header__img {
  height: 100%;
  max-width: 100%;
}

.form {
  padding-top: 40px;
}

.email-label {
  padding-bottom: 10px;
}

.btn-label {
  padding-top: 10px;
}
@media screen and (min-width: 600px) {
}

@media only screen and (max-width: 600px) {
  .form-container {
    width: 100%;
  }
}
