<mat-toolbar color="primary">
  <span>Ice Cream</span>
  <ng-container *ngIf="auth.currentUser$ | async as user">
    <button mat-raised-button (click)="logout()">
      Wyloguj
    </button>
  </ng-container>
</mat-toolbar>


<ng-container *ngIf="userRole$ | async as userRole">
  {{userRole}}
  <div *ngIf="userRole === 'admin'; else userDashboard">
  <app-admin></app-admin>
  </div>
</ng-container>

<ng-template #userDashboard>
  user dashboard
  <h3 *ngIf="user$ | async as user">Hej {{user.email}}</h3>
</ng-template>

<button (click)="moveToAdmin()">Move</button>
