table {
  width: 25%;
}

.ic__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ic__form {
  display: flex;
  width: 300px;
  margin: 0 auto;
  gap: 20px;
  padding-top: 25px;
}

.ic__table {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
