<div class="ic__view">
  <div class="ic__form">
    <mat-form-field class="example-full-width" >
      <mat-label>Nazwa loda</mat-label>
      <input matInput type="text" [formControl]="iceCreamInput" required minlength="3" maxlength="20" />

      <mat-error *ngIf="iceCreamInput.invalid && (iceCreamInput.dirty || iceCreamInput.touched)">
        <mat-error *ngIf="iceCreamInput.errors?.['required']">
          Podaj nazwe
        </mat-error>
        <mat-error *ngIf="iceCreamInput.errors?.['minlength']">
          Minimum 3 znaki
        </mat-error>
        <mat-error *ngIf="iceCreamInput.errors?.['maxlength']">
          Maksymalnie 20 znaków
        </mat-error>
        <mat-error *ngIf="iceCreamInput.errors?.['pattern']">
          Zle znaki
        </mat-error>
        <mat-error *ngIf="iceCreamInput.hasError('whitespace')">
          Specjalnie dla Ciebie Kamil zablokowane :)
        </mat-error>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="addIceCream()" type="submit">Dodaj louda</button>
  </div>

  <div class="ic__table">
  <table *ngIf="iceCreams$ | async as iceCream" mat-table [dataSource]="iceCreams" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nazwa loda </th>
    <td mat-cell *matCellDef="let element"> {{element.name}}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Usuń </th>
    <td mat-cell *matCellDef="let element"><div class="example-button-container">
      <button (click)="removeIceCream(element)" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
        <mat-icon>close</mat-icon>
      </button>
    </div> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
</div>
