<div class="container">
  <div class="header">
    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
    <div class="name">
    <p style="font-weight: bold">Minko Gechev</p>
    <p id="nickname">@mgechev</p>
    </div>
  </div>
  <div class="main">
    <p>JavaScript tip: you can access items at the end of</p>
      <p>array using negative indices with "at"</p>
      <div class="link">
        <p style="padding-bottom: 5px">👉 https://stackblitz.com/edit/hasht...</p>
        <img src="https://img.redro.pl/plakaty/html-code-on-the-screen-editor-dark-screen-flat-design-web-development-data-optimization-php-development-software-site-code-python-binary-code-programmer-working-in-desktop-laptop-700-162617634.jpg" alt="Avatar">
      </div>
      <p id="data">6:30 AM 12 kwi 2022 buffer</p>
  </div>

</div>
