<table *ngIf="iceCreams$ | async as iceCream" mat-table [dataSource]="iceCream" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nazwa loda </th>
    <td mat-cell *matCellDef="let element"> {{element.name}}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="fav">
    <th mat-header-cell *matHeaderCellDef> Dodaj do ulubionych </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
